body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0b1b76;
  font-family: Arial, sans-serif;
}

.stopwatch-container {
  text-align: center;
  background: rgb(182, 43, 43);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#display {
  font-size: 48px;
  margin: 20px 0;
  font-weight: bold;
}

.buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
}
